@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body{
    background-color: #EDEDED;
    font-family: 'Roboto', sans-serif;
}
.div-1{
    background-color: white;
    min-height: 80vh;
}
.div-2{

}
.div-2 div h3{
    font-weight: 600;
}
.div-3{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/wallpaper1.jpg");
    background-position: top left;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
.div-3 div h3{
    font-weight: 600;
}
.form-control{
    border: none;
    border-radius: 0px;
    border-bottom-style: solid;
    border-bottom-color: #EDEDED;
}
.form-control:focus{
    box-shadow: none;
    border-bottom-color: #9F9F9F;
}
.btn-link{
    color: #8C8C8C;
}
.btn-link:hover{
    color: black;
}
.btn-login{
    background-color: #D6B475;
    color: white;
}
.btn-login:hover{
    background-color: white;
    color: black;
    border-color: black;
}
.btn-register{
    background-color: transparent;
    color: white;
    border-color: white;
}

.btn-register:hover{
    background-color: white;
    color: black;
}
