<template>

    <div class="container-fluid mt-4">
        <div class="row">
            <div class="col-12 form-row">
                <div class="form-group col-4">
                    <input v-model="initial_date" type="text" class="form-control" name="initial_date" value="" onfocus="(this.type='date')" onblur="(this.type='text')" placeholder="Desde">
                </div>
                <div class="form-group col-4">
                    <input v-model="final_date" type="text" class="form-control" name="final_date" value="" onfocus="(this.type='date')" onblur="(this.type='text')" placeholder="Hasta">
                </div>
                <div class="col-4">
                    <button type="button" class="btn btn-submit" name="button" @click="submit" v-html="btn_text">
                        {{ btn_text }}
                    </button>
                </div>
            </div>
            <div class="col-12 table-responsive mt-4">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Usuario</th>
                            <th>Entrada</th>
                            <th>Salida</th>
                            <th>Fecha</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(attendance, index) in attendances" :key="index">
                            <td>{{ attendance.user }}</td>
                            <td>{{ attendance.entry }}</td>
                            <td>{{ attendance.departure }}</td>
                            <td>{{ attendance.date }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</template>
<script>
    export default{
        data: () => ({
            btn_text:"CONSULTAR",
            url:"/attendances/registers",
            initial_date:"",
            final_date:"",
            attendances:[]
        }),

        methods:{
            'submit':function(){
                if(this.initial_date != "" || this.final_date != ""){
                    var data = new Object()
                    data.initial_date = this.initial_date
                    data.final_date = this.final_date
                    axios.post(this.url, data)
                    .then(response => {
                        console.log(response)
                        this.attendances  = []
                        for (var i = 0; i < response.data.attendances.length; i++) {
                            this.attendances.push({
                                user:response.data.attendances[i].user.names,
                                entry:response.data.attendances[i].entry,
                                departure:response.data.attendances[i].departure,
                                date:response.data.attendances[i].date
                            })
                        }
                    })
                }
            }
        }
    }
</script>
