<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mb-3 mt-4 text-white form-inline">
                <div class="float-left">
                    <img :src="user_image" class="img-fluid role-img" alt="">
                </div>
                <div class="float-right ml-3">
                    <h4><strong>{{user.name}}</strong></h4>
                    <h6>{{user.email}}</h6>
                </div>
            </div>
            <div class="col-12 form-row mt-5">
                <div v-for="(role, index) in roles" :key="index" class="col-xl-4 col-md-6 text-center mb-5">
                    <button type="button" class="btn btn-role py-2 shadow rounded" :class="{'role-active': role.current_role}" v-on:click="change_status(index)">
                        <span v-html="role.icon">{{role.icon}}</span><br>
                        <h5 class="text-white mt-4 text-capitalize">{{role.name}}</h5>
                    </button>
                </div>
            </div>
            <div class="col-12 text-center mt-5">
                <a href="/users" class="btn btn-link text-white text-decoration-none">CANCELAR</a>
                <button class="btn btn-submit rounded-0" :class="{'disabled':submit_button}" v-on:click="submit()" name="button" v-html="button_text">{{button_text}}</button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {

        props:['user','user_roles'],

        data: function() {
            return{
                user_image: "",
                roles: [
                    {
                        name: 'super-admin',
                        icon: '<i class="fad role-icon fa-user-crown fa-5x"></i>',
                        current_role: false,
                    },
                    {
                        name: 'administrador',
                        icon: '<i class="fad role-icon fa-user fa-5x"></i>',
                        current_role: false,
                    },
                    {
                        name: 'caja',
                        icon: '<i class="fas role-icon fa-file-invoice-dollar fa-5x"></i>',
                        current_role: false,
                    },
                    {
                        name: 'cocina',
                        icon: '<i class="fad role-icon fa-hat-chef fa-5x"></i>',
                        current_role: false,
                    },
                    {
                        name: 'mesero',
                        icon: '<i class="fad role-icon fa-sticky-note fa-5x"></i>',
                        current_role: false,
                    },
                    {
                        name: 'repartidor',
                        icon: '<i class="fad role-icon fa-motorcycle fa-5x"></i>',
                        current_role: false,
                    }
                ],
                submit_button:false,
                button_text:"ACTUALIZAR",
                submit_url: "/users/roles/"+this.user.id+"/update"
            }
        },
        mounted(){
            
            if(this.user.image){
                this.user_image = "/images/users_images/"+this.user.image
            }else{
                this.user_image = "https://api.adorable.io/avatars/200/"+this.user.email
            }

            for (let i = 0; i < this.user_roles.length; i++) {
                for (let j = 0; j < this.roles.length; j++) {
                    if(this.user_roles[i] == this.roles[j].name){
                        this.roles[j].current_role = true;
                    }
                }
            }
        },

        methods:{
            'change_status' : function(index)
            {
                this.roles[index].current_role = !this.roles[index].current_role;
                for (let i = 0; i < this.roles.length; i++) {
                    if(!this.roles[i].current_role){
                        this.submit_button = true
                    }else{
                        this.submit_button = false
                        break
                    }
                }
            },

            'submit' : function(){
                if(!this.submit_button){
                    this.submit_button = true
                    this.button_text = '<i class="fad fa-spinner fa-pulse"></i> ACTUALIZANDO...'

                    var data = new Object()
                    data.roles = JSON.stringify(this.roles) 

                    axios.post(this.submit_url, data)
                    .then(response => {
                        location.reload()
                    })
                }
            }
        }
    }
</script>

<style>
   .role-img{
       max-width: 200px;
       max-height: 200px;
   }
   .role-icon{
       color: #5C798F;
   }
   .btn-role{
       min-width: 300px;
   }
   .role-active{
       background-color: #5C798F;
   }
   .role-active .role-icon{
       color: #27333D;
   }
</style>
