@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    background-color: #28343C;
    margin-left: 300px;
    overflow-x: hidden;
}
/* ESTILOS DE SIDENAV*/
.sidenav {
  height: 100%;
  width: 300px;
  position: fixed !important;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden !important;
  transition: 0.5s;
}
.icon-close{
    margin-top: 10px;
    color: black;
}
@media(min-width:800px){
    .icon-close{
        display: none;
    }
}
.top-div{
    background-color: white;
}
.transform-rot{
    transform: rotate(180deg);
    transition: all 0.5s;
}
.side-link{
    position:relative;
    display: block !important;
    width: 100%;
    height: 45px !important;
    padding-left: 25px;
    color: black;
    text-decoration: none;
    padding-top: 3%;
}
.side-link:hover{
    background-color: #eee;
    padding-left: 15px;
    border-left-style: solid;
    border-left-width: 10px;
    border-left-color: #02C146;
    color: black;
}
.side-active{
    background-color: #eee;
    padding-left: 15px !important;
    border-left-width: 10px !important;
    color: #black !important;
    border-left-style: solid;
    border-left-color:#02C146;
}
.link-dropdown{
    padding-left: 65px !important;
}
.link-dropdown:hover{
    padding-left: 55px !important;
}
.link-dropdown.side-active{
    padding-left: 55px !important;
}
.hide{
    display: none;
}
.fa-caret-down{
    float: right;
    margin-right: 40px;
}
/*FIN ESTILOS DE SIDENAV*/

/* main navbar */

.main-navbar{
    background-color: #28343C !important;
    z-index: 1;
}
.dropdown-user{
    background-color: #5f7b8e;
}
@media screen and (min-width: 992px){
    .dropdown-user{
        width: 350px;
    }
}
.user-info{
    background-color: #384353;
}
.dropdown-user-button:hover{
    background-color: #5f7b8e;
}
/* FIN main navbar */

/* modals */

.modals{
    background-color: #384353;
    color: white;
}
.modals .close{
    color: white;
}
.modals .modal-header{
    border-bottom: none;
}
.modals .modal-footer{
    border-top: none;
}
.btn-cancelar{
    color:white;
}
.btn-cancelar:hover{
    color: white;
}
.btn-aceptar{
    border-radius: 0;
    color:black;
    background-color: #00FFC6;
}
/* fin modals*/
