.form-control{
    background-color: transparent;
    color: white;
    border: none;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-radius: 0;
    box-shadow: none;
}
.form-control:focus{
    background-color: transparent;
    box-shadow: none;
    color: white;
    border: none;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-radius: 0;
}
.form-control::placeholder{
    color:white;
}
.color-text{
    color: #00FFC6;
}
.form-select option{
    background-color: #28343C;
}
.btn-submit{
    background-color: #00FFC6;
}
.btn-submit:hover{
    background-color: #00FFC6;
}
.custom-file-input:lang(en) ~ .custom-file-label::after{
    content: "Buscar" !important;
}
.img-profile{
    min-width: 300px !important;
    max-width: 300px !important;
    max-height: 300px !important;
    min-height: 300px !important;
}
