.search-input{
    background-color: transparent;
    border-right: none;
    border-radius: 0;
    color: white !important;
    border-color: white;
}
.search-input:focus{
    background-color: transparent;
    box-shadow: none;
    border-color: white !important;
}
.search-input::placeholder{
    color:white;
}
.fa-search{
    color: white;
}
.btn-search{
    border-radius: 0;
    border-style: solid;
    border-color: white;
    border-left: none;
}
.btn-search:focus{
    box-shadow: none;
}
.btn-new-entry{
    background-color: #00FFC6;
}
.color-text{
    color: #00FFC6;
}
.table thead tr th{
    border-top: none;
    color: #00FFC6;
}
.table tbody tr td{
    color: white;
}
.btn-actions{
    color: #00FFC6;
}
.btn-actions:hover{
    color: #00FFC6;
}
.no-records{
    color: #00FFC6;
}
.btn-show{
    background-color: transparent;
    color: #00FFC6;
    border-color: #00FFC6;
}
.btn-show:hover{
    background-color: #00FFC6;
    color: black;
    border-color: #00FFC6;
}
.btn-show:active{
    background-color: #00FFC6 !important;
    color: black !important;
    border-color: #00FFC6 !important;
    box-shadow: none !important;
}

.btn-show:focus{
    box-shadow: none !important;
}
@media screen and (min-width: 1200px){
    .img-sticky{
        position: -webkit-sticky;
        position: sticky;
        top: 80px;
        z-index: 0;
    }
}
.form-control.form-select{
    background-color: transparent;
    color: white;
    border: none;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-radius: 0;
    box-shadow: none;
}
.btn-submit{
    background-color: #00FFC6;
}   
.form-control.form-select:focus{
    background-color: transparent;
    box-shadow: none;
    color: white;
    border: none;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-radius: 0;
}
.form-control.form-select::placeholder{
    color:white;
}
.form-select option{
    background-color: #28343C;
}
